

.logo{
    width: 11rem;
    height: 11rem;
    float: left;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    position: fixed;
    z-index: 1;
}

a.nav-link{
    color: black;
}

.nav {
    gap: 8rem;
    width: 100%;
    height: 170px; 
    align-items: center;
    margin-left: 10%;
    position: fixed;
    z-index: 1;
    opacity: 0.5;
    background-color: white;
   
 
}

.nav-left{
    margin: auto;
    height: 100rem;
    width: 10%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    align-items: center;
    font-size: small;
    position: fixed;
    gap: 30px;
    z-index: 1;
    opacity: 0.5;
    background-color: white;
    list-style: none;
    margin-top: 10%;

} 
 


/* photo acceuil diaporama*/

.main {
    width: 100%;
    margin: auto;    
    
}
 .diapo{
    position: relative;
    overflow: hidden;
 }


.elements{
    display: flex;
}

.element{
    flex: 1 0 100%;
    margin-top: 11rem;
    
}
.element > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.flechegauche, .flechedroite{
    position: absolute;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}

.flechedroite{
    right: 0;
}

/*---------WHO-----------*/

.who{
    margin-top: 20rem;
    margin-left: 30%;
    height: 20rem;
    width: 50rem;
   
}

.who p {
    padding-top: 10px;
    margin-left: 21rem;
}

h1{
    margin-left: 21rem;
}

 .fade-img {
        position: relative;
        height: auto;
        width: 20rem;
        float: left;
           
 }

 .img-fade-1{
    position: absolute;
    animation-name: fondu-in-out;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
     animation-duration: 4s;
    animation-direction: alternate ;
   
 }

.fade-img img {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
 }

 @keyframes fondu-in-out {
    0%  {opacity:1; }
    25%  {opacity:1;}
    75% {opacity:0;}
    100% { opacity:0;}
 }
